<h1>Editing student but dumb</h1>

<%= render "form", student_but_dumb: @student_but_dumb %>

<br>

<div>
  <%= link_to "Show this student but dumb", @student_but_dumb %> |
  <%= link_to "Back to student but dumbs", student_but_dumbs_path %>
</div>
